*,
*::before,
*::after {
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: inherit;
}

/* font-family: 'Manrope', sans-serif;
font-family: 'Prompt', sans-serif;
 */

/* #fbac15 --желтый */
/* #ca0019-- красный */

body {
    color: #003049;
    font-family: "Manrope", sans-serif;
    font-size: 14px;
    line-height: 19px;
    font-weight: 500;
}

.modal-wrapper {
    display: none;
    position: absolute;
    max-width: 500px;
    width: 50%;
    height: 250px;
    background: #232427;
    top: 32%;
    right: 31%;
    z-index: 10;
    border-radius: 8px;
    padding: 20px;
}

.input-text {
    position: relative;
    display: block;
    font-size: 18px;
    font-weight: 700;
    margin-top: 30px;
    text-align: center;
    color: white;
}

.close-btn {
    position: absolute;
    content: '';
    width: 30px;
    height: 30px;
    right: 10px;
    top: 18px;

}

.close-btn::after {
    position: absolute;
    content: '';
    border-bottom: 2px solid #fff;
    width: 23px;
    right: 10px;
    top: 8px;
    transform: rotate(45deg);
}

.close-btn::before {
    position: absolute;
    content: '';
    border-bottom: 2px solid #fff;
    width: 23px;
    right: 10px;
    top: 8px;
    transform: rotate(316deg);
}

.input-item {
    padding: 8px;
    margin-top: 10px;
    width: 100%;
}

.modal-inner {
    display: flex;
    justify-content: space-between;
}

.modal-btn {
    display: block;
    margin-top: 30px;
    padding: 10px 40px;
    background: #fbac15;
}

.container {
    max-width: 1220px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
}

.header {
    padding: 12px 0 15px;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    max-width: 184px;
    padding-bottom: 20px;
}

.logo-img {
    width: 100%;
}

.header-oficial-text {
    max-width: 226px;
}

.oficial-text {
    color: #797467;
    padding: 15px;
    font-weight: 700;
    font-size: 18px;
}

.header-phone {
    max-width: 296px;
    padding: 20px;
}

.phone-link {
    position: relative;
    color: #bf3c3c;
    font-size: 26px;
    font-weight: 500;
    font-family: "Prompt", sans-serif;
}


.mobile {
    font-size: 0;
}

.phone-link:hover {
    color: #003049;
    text-decoration: underline;
    font-weight: 700;
}

.whatsapp {
    text-align: end;
    padding-top: 10px;
}

.whatsapp-link {
    position: relative;
}

.whatsapp-link:hover {
    text-decoration: underline;
    font-weight: 700;
}

.header-callback {
    font-size: 20px;
    color: #003049;
    border: 2px solid #003049;
    padding: 11px 30px;
    border-radius: 8px;
    font-weight: 500;
    font-family: "Prompt", sans-serif;
}

.header-callback:hover {
    color: #ca0019;
    border: 2px solid #ca0019;
}

.main {
    padding: 90px 0 90px;
    background-color: #fafafa;
    position: relative;
}

.main-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text-wrapper {
    width: 40%;
}

.main-title {
    font-weight: 500;
    font-size: 32px;
    line-height: 54px;
    color: #797467;
}

.red-title {
    color: #c20018;
}

.yelloy-title {
    color: #fbac15;
}

.bg-main {
    max-width: 60%;
}

.bg-img {
    width: 100%;
}

.item-text {
    margin-left: 20px;
    font-size: 21px;
    font-weight: 400;
    color: #6b6b64;
}


.content-inner {
    max-width: 300px;
}

.add-sale {
    font-size: 20px;
    font-weight: 500;
    margin-top: 20px;
    padding: 15px 46px;
    background: #fbac15;
    color: #000;
    border-radius: 8px;
}

.add-sale:hover {
    color: #fff;
}

.sale-sale {
    padding-top: 22px;
    text-align: center;
    font-size: 18px;
}

.counter-wrapper {
    margin-top: 40px;
}

.text-counter {
    color: #c20018;
    font-size: 16px;
    text-align: center;
}

.counter-inner {
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
}

.counter-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80px;
    height: 80px;
    border: 2px solid #c20018;
    border-radius: 8px;
    padding: 10px;
}

.counter-hours,
.counter-days,
.counter-minutes,
.counter-seconds {
    text-align: center;
    color: #c20018;
    font-size: 40px;
}

.counter-text {
    color: #d3d3d3;
    font-size: 12px;
    display: block;
    text-align: center;
}

.reasons {
    padding: 90px 0 90px;
}

.big-decor {
    text-align: center;
    font-size: 85px;
    color: #c20018;
    margin-right: 4px;
}

.reasons-decor-text {
    font-weight: 500;
    font-size: 32px;
    line-height: 54px;
    color: #797467;
    padding-bottom: 40px;
}

.reasons-content {
    display: flex;
    align-items: baseline;
}

.reasons-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.reasons-item {
    display: flex;
    padding: 7px 0;
    align-items: center;
}

.reasons-num {
    font-size: 40px;
    font-weight: 700;
    color: #b7b7b7;
}

.reasons-text {
    font-size: 20px;
    font-weight: 700;
    margin-left: 20px;
    line-height: 30px;
}

.reasons-decor {
    position: relative;
    display: block;
    border: 2px solid #ca0019;
    width: 20px;
    height: 2px;
    border-radius: 10px;
}

.reasons-decor::after {
    position: absolute;
    content: "";
    border: 2px solid #000;
    width: 20px;
    height: 2px;
    top: -9px;
    left: -2px;
    border-radius: 10px;
}

.reasons-decor::before {
    position: absolute;
    content: "";
    border: 2px solid #fbac15;
    width: 20px;
    height: 2px;
    top: 5px;
    left: -2px;
    border-radius: 10px;
}

.item-wrapper {
    margin-left: 50px;
}

.reasons-bg {
    max-width: 500px;
    position: relative;
}

.decor-bg {
    width: 100%;
}

.pulse {
    position: absolute;
    border: 2px solid #cd5a69b8;
    border-radius: 50%;
    height: 380px;
    width: 380px;
    left: -50%;
    opacity: 0;
    top: -30px;
    z-index: -1;
    animation: pulseCenter 6s linear;
    animation-iteration-count: infinite;
}

.pulse.pulse-2 {
    animation-delay: 2s;
}

.pulse.pulse-3 {
    animation-delay: 4s;
}

@keyframes pulseCenter {
    0% {
        transform: scale(0.1);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: scale(1.2);
        opacity: 0;
    }
}

.products {
    padding: 90px 0 90px;
    background-color: #fafafa;
}

.products-title {
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    line-height: 54px;
    color: #797467;
}

.products-title-wrapper {
    display: flex;
    align-items: baseline;
}

.products-top-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px 60px;
}

.category-counter {
    margin-left: 32px;
}

.siries-num,
.siries-text {
    font-size: 18px;
    color: #c20018;
}

.category-title {
    font-size: 33px;
}

.view-all-category {
    position: relative;
    padding: 10px 38px 10px 10px;
    background-color: #ccc;
}

.view-all-category::after {
    position: absolute;
    content: '';
    border-bottom: 2px solid #c20018;
    width: 15px;
    height: 1px;
    right: 16px;
    top: 50%;
}

.view-all-category::before {
    position: absolute;
    content: '';
    border-bottom: 2px solid #c20018;
    width: 5px;
    height: 1px;
    right: 16px;
    top: 46%;
    transform: rotate(45deg);
}

.view-all-category:hover {
    background-color: #fbac15;
    color: white;
}

.view-all-category span {
    font-size: 14px;
    color: #c20018;
}

.products-siries-inner {
    display: flex;
    flex-wrap: wrap;
}

.products-siries-item {
    display: flex !important;
    flex-direction: column;
    justify-content: end;
    background-color: #fff;
    max-width: 275px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #e0e0e0;
    overflow: hidden;
}

.prewiev-img {
    transition: all .4s ease-in-out;
    width: 100%;
}

.prewiev-img:hover {
    transform: scale(0.95);
}

.products-siries-id {
    text-align: center;
    font-weight: 700;
    font-size: 16px;
    padding: 10px 0 10px;
}

.popular-product {
    padding: 90px 0 90px;
}

.popular-inner {
    position: relative;
}

.popular-item {
    display: flex !important;
    max-width: 371px;
    height: 510px;
    border: 1px solid #e0e0e0;
    margin: 10px;
    flex-direction: column;
    justify-content: space-between;
    transition: all .3s ease-in-out;
}

.popular-item:hover {
    transform: scale(1.005);
    box-shadow: 4px 4px 36px -4px rgba(34, 60, 80, 0.28);
}

.popular-link {
    display: block;
    padding: 10px;
    overflow: hidden;
}

.popular-img {
    width: 100%;
}

.popular-bottom-text {
    padding: 10px;
    width: 100%;
    background-color: #fafafa;
    display: flex;
    flex-direction: column;
}

.popular-text {
    padding: 12px;
    font-size: 22px;
    font-weight: 700;
    font-family: 'Prompt', sans-serif;
}

.popular-price {
    display: block;
    font-size: 20px;
    border-bottom: 1px dashed #cccccc;
    line-height: 35px;
}

.popular-category {
    display: block;
    font-size: 20px;
    border-bottom: 1px dashed #cccccc;
    line-height: 35px;
}

.popular-bye {
    margin-top: 10px;
    display: block;
    text-align: center;
    padding: 10px 15px;
    background-color: #c20018;
    color: white;
}

.slick-prev {
    position: absolute;
    font-size: 0;
    width: 40px;
    height: 40px;
    background-color: #232427;
    bottom: 50%;
    left: -16px;
    z-index: 1;
}

.slick-next {
    position: absolute;
    font-size: 0;
    width: 40px;
    height: 40px;
    background-color: #232427;
    bottom: 50%;
    right: -16px;
    z-index: 1;
}

.slick-next:hover {
    background-color: #c20018;
    transition: all .3s ease-in-out;
    transform: scale(1.3);
    box-shadow: 4px 4px 18px 9px rgba(146, 146, 146, 0.3);
}

.slick-prev:hover {
    background-color: #c20018;
    transition: all .3s ease-in-out;
    transform: scale(1.3);
    box-shadow: 4px 4px 18px 9px rgba(146, 146, 146, 0.3);
}

.slick-prev::after {
    position: absolute;
    content: '';
    border-bottom: 3px solid #fff;
    width: 15px;
    left: 10px;
    border-radius: 6px;
    bottom: 54%;
    transform: rotate(320deg);
}

.slick-prev::before {
    position: absolute;
    content: '';
    border-bottom: 3px solid #fff;
    width: 15px;
    left: 10px;
    border-radius: 6px;
    bottom: 33%;
    transform: rotate(220deg);
}

.slick-next::after {
    position: absolute;
    content: '';
    border-bottom: 3px solid #fff;
    width: 15px;
    left: 14px;
    border-radius: 6px;
    bottom: 54%;
    transform: rotate(45deg);
}

.slick-next::before {
    position: absolute;
    content: '';
    border-bottom: 3px solid #fff;
    width: 15px;
    left: 14px;
    border-radius: 6px;
    bottom: 32%;
    transform: rotate(320deg);
}

.slick-slide {
    margin: 10px;
}

.benefits {
    padding: 60px 0 60px;
    background-color: #1D2027;
}

.benefits-title {
    padding: 70px 0 70px;
    text-align: center;
    font-size: 32px;
    color: white;
}

.benefits__wrapper-item {
    display: flex;
    margin-bottom: 85px;
    height: 267px;
}

.content-img1 {
    width: 70%;
    background-image: url(../images/benefits/Фасадные-панели-Docke-Klinker-под-клинкерный-кирпич-цвета-Каракумы.png);
}

.content-img2 {
    width: 70%;
    background-image: url(../images/benefits/Гибкая-черепица-Docke-PREMIUM-ШЕФФИЛД-Фладен-купить-мягкую-кровлю-Дёке.png);
}

.content-img3 {
    width: 70%;
    background-image: url(../images/benefits/Купить-водостоки-для-крыши-—-цены-на-пластиковые-водосточные-системы-«Дёке».png);
}

.content-img4 {
    width: 70%;
    background-image: url(../images/benefits/Pdf.png);
}

.benefits-img {
    width: 100%;
    display: block;
}

.benefits-content {
    width: 30%;
    background-color: #fff;
    padding: 35px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.benefits-subtitle {
    font-size: 18px;
    padding-top: 40px;
}

.content-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.num-item {
    color: #c20018;
    font-size: 18px;
    font-weight: 700;
}

.decor-item {
    display: block;
    position: relative;
}

.decor-item::before {
    position: absolute;
    content: '';
    width: 16px;
    border-bottom: 3px solid #c20018;
    top: 0;
    right: 0;
}

.decor-item::after {
    position: absolute;
    content: '';
    width: 16px;
    border-bottom: 3px solid #c20018;
    top: 0;
    right: 0;
    transform: rotate(90deg);
}

.benefits-text {
    color: #8A8B90;
}

.slick-dots {
    display: flex;
    margin-left: 5%;
    font-size: 0;
}

li.slick-active {
    background-color: #c20018;
}

.slick-dots > li {
    width: 8px;
    height: 8px;
    border-radius: 90px;
    border: 1px solid #c20018;
    margin: 0 3px;
}

.slick-dots li button {
    font-size: 0;
}

.review {
    padding: 90px 0 90px;
}

.view-all-review {
    width: 162px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    background-color: #ccc;
}

.view-all-review span {
    display: block;
}

.review-item {
    position: relative;
    background: #F4F6F8;
    height: 300px;
}

.review-img-wrap {
    position: absolute;
    right: 35px;
    bottom: -19%;
    width: 315px;
    height: 315px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border-radius: 50%;
}

.review-img {
    width: 100%;
    display: block;
    border-radius: 5%;
}

.review-content {
    width: 66%;
    padding: 25px;
}

.review-content-top {
    border-bottom: 1px solid #E3E3E3FF;
    padding: 8px;
}

.review-name {
    font-size: 22px;
    color: #000;
    line-height: 20px;
}

.review-date {
    color: #8A8B90;
    margin-left: 20px;
}

.review-plus,
.review-content-main {
    display: flex;
}

.plus-text {
    margin-left: 11px;
}

.review-minus,
.review-content-main {
    margin-top: 20px;
    display: flex;
}

.review-content-middle {
    margin-top: 20px;
}

.review-descr {
    color: #8A8B90;
    margin-right: 10px;
}

.jobs {
    padding: 90px 0 175px;
    background: #F4F6F8;
}

.jobs-inner {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.jobs-item {
    overflow: hidden;
    position: relative;
}

.jobs-img {
    transform: scale(1.8);
    width: 100%;
    z-index: 1;
    filter: brightness(0.3) grayscale(100%);
}

.jobs-img:hover {
    filter: grayscale(0);
    transform: scale(1.1);
    transition: all .3s ease-in-out;
    z-index: -1;
}

.jobs-content {
    position: absolute;
    z-index: 1;
    width: 100%;
}

.jobs-wrap-text {
    padding: 30px;
    display: flex;
    justify-content: space-between;
}

.text-item,
.jobs-num {
    color: white;
    font-size: 21px;
    line-height: 28px;
}

.jobs-link {
    display: block;
    background-color: #fbac15;
    color: white;
    font-size: 16px;
    text-align: center;
    width: 39px;
    height: 38px;
    padding: 10px;
    margin-left: 30px;
}

.question {
    padding: 90px 0 90px;
    background-image: url(../images/formBg.png);
    background-size: cover;
    background-position:  bottom;
}

.question-wrapper {
    display: flex;
}

.bottom-img {
    display: block;
    width: 100%;
}

.form-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bottom-text {
    position: relative;
    margin-top: 30px;
    font-size: 18px;
    line-height: 41px;
}

.red-bg {
    padding: 3px;
    background-color: #c20018;
    color: white;
}

.input-bottom {
    background: #F4F6F8;
    border: none;
    margin-top: 30px;
    padding: 10px;
}

.question-subtitle {
    font-size: 45px;
    color: #1D2027;
}

.input-bottom-btn {
    border-radius: 4px;
    margin-top: 30px;
    padding: 10px 20px;
    background: #fbac15;
    color: #1D2027;
    font-size: 20px;
    font-weight: 700;
}

.footer {
    background: #1D2027;
    padding: 90px 0 90px;
}

@media (max-width: 1100px) {
    .oficial-text {
        color: #797467;
        padding: 10px;
        font-weight: 700;
        font-size: 14px;
    }

    .phone-link {
        font-size: 22px;
    }

    .header-callback {
        font-size: 16px;
        color: #003049;
        border: 2px solid #003049;
        padding: 7px 16px;
        border-radius: 8px;
        font-weight: 500;
        font-family: "Prompt", sans-serif;
    }

    .main {
        padding: 45px 0 45px;
        background-color: #fafafa;
        position: relative;
    }

    .main-title {
        font-weight: 500;
        font-size: 28px;
        line-height: 40px;
        color: #797467;
    }

    .text-counter {
        padding-top: 0;
    }

    .add-sale {
        font-size: 18px;
        font-weight: 500;
        margin-top: 12px;
        padding: 10px 24px;
    }

    .sale-sale {
        padding-top: 22px;
        font-size: 17px;
        text-align: start;
    }

    .counter-wrapper {
        margin-top: 22px;
    }

    .reasons {
        padding: 70px 0 70px;
    }

    .reasons-bg {
        max-width: 50%;
    }

    .pulse {
        width: 300px;
        height: 300px;
    }

    .reasons-text {
        font-size: 16px;
    }

    .big-decor {
        font-size: 66px;
    }

    .reasons-decor-text {
        font-size: 26px;
    }

    .item-wrapper {
        margin-left: 30px;
    }

    .reasons-text {
        line-height: 20px;
    }

    .products {
        padding: 70px 0 70px;
    }

    .products-top-wrapper {
        padding: 35px 10px 35px;
    }

    .products-title {
        font-size: 35px;
    }

    .category-title {
        font-size: 28px;
    }

    .siries-num, .siries-text {
        font-size: 14px;
    }

    .view-all-category span {
        font-size: 12px;
    }

    .jobs-inner {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    .benefits-subtitle {
        font-size: 15px;
        padding-top: 22px;
    }

    .benefits-content {
        padding: 20px;
    }

    .review-content {
        width: 50%;
    }
    .review-content-middle {
        margin-top: 6px;
    }
    .review-minus,
    .review-content-main {
        margin-top: 10px;
    }
    .review-content-text {
        font-size: 12px;
        height: 110px;
        overflow: hidden;
    }
    .plus-text {
        font-size: 12px;
    }

}

@media (max-width: 860px) {
    .logo {
        max-width: 130px;
        padding-bottom: 0;
    }

    .oficial-text {
        font-size: 12px;
    }

    .header-phone {
        padding: 0;
    }

    .phone-link {
        font-size: 16px;
    }

    .header-callback {
        font-size: 12px;
        padding: 5px 10px;
    }

    .counter-item {
        width: 80px;
    }

    .add-sale {
        font-size: 16px;
        font-weight: 500;
        margin-top: 12px;
        padding: 8px 13px;
    }

    .popular-product {
        padding: 30px 0 30px;
    }

    .counter-item {
        padding: 5px;
        margin: 4px;
    }

    .popular-item {
        height: 426px;
    }

    .popular-text {
        padding: 6px;
        font-size: 12px;
    }

    .popular-price {
        font-size: 17px;
        line-height: 19px;
    }

    .popular-category {
        font-size: 16px;
        line-height: 24px;
    }

    .popular-bye {
        margin-top: 10px;
        padding: 6px 11px;
    }

}

@media (max-width: 750px) {

    .header-phone {
        display: flex;
    }

    .phone-link,
    .whatsapp-link {
        font-size: 0;
    }

    .phone-link::after {
        position: absolute;
        content: '';
        background-image: url(../images/icons/phone.svg);
        left: -10px;
        width: 30px;
        height: 30px;
    }

    .whatsapp-link::before {
        position: absolute;
        content: "";
        background-image: url(../images/icons/social_whatsapp.svg);
        width: 30px;
        height: 30px;
        left: -58px;
        bottom: -5px;
    }

    .text-wrapper {
        width: 35%;
    }

    .main-title {
        font-weight: 500;
        font-size: 18px;
        line-height: 25px;
        color: #797467;
    }

    .counter-hours,
    .counter-days,
    .counter-minutes,
    .counter-seconds {
        text-align: center;
        color: #c20018;
        font-size: 27px;
    }

    .counter-text {
        font-size: 10px;
    }

    .counter-inner {
        padding-top: 8px;
    }

    .products {
        padding: 40px 0 40px;
    }

    .popular-item {
        height: 356px;
    }

    .benefits-subtitle {
        font-size: 14px;
        padding-top: 4px;
    }

    .benefits-subtitle {
        font-size: 13px;
        padding-top: 5px;
    }

    .benefits-text {
        font-size: 12px;
    }
    .review-item {
        height: inherit;
    }
    .review-img-wrap {
        display: none;
    }
    .review-content {
         width: inherit;
        margin: 0 auto;
    }
    .question {
        padding: 30px 0 30px;
        background-position: inherit;
    }
    .question-subtitle {
        font-size: 30px;
    }
}


@media (max-width: 650px) {
    .modal-wrapper {
        right: 8%;
        width: 80%;
    }

    .input-text {
        margin-top: 18px;
    }

    .modal-btn {
        margin-top: 10px;
        width: 100%;
    }

    .main {
        padding: 25px 0 25px;
    }

    .oficial-text {
        display: none;
    }

    .main-content {
        flex-direction: column;
    }

    .text-wrapper {
        width: 100%;
    }

    .bg-main {
        max-width: 100%;
        padding-top: 20px;
    }

    .counter-inner {
        justify-content: center;
    }

    .content-inner {
        display: flex;
        justify-content: space-between;
        max-width: 650px;
    }

    .add-sale {
        font-size: 14px;
        font-weight: 500;
        margin-top: 12px;
        padding: 5px 10px;
    }

    .sale-sale {
        font-size: 13px;
        margin-left: 10px;
    }

    .counter-item {
        width: 50px;
        height: 52px;
        border: 2px solid #c20018;
        border-radius: 8px;
        padding: 5px;
        margin: 4px;
    }

    .counter-hours,
    .counter-days,
    .counter-minutes,
    .counter-seconds {
        font-size: 20px;
    }

    .reasons {
        padding: 32px 0 8px;
    }

    .reasons-inner {
        flex-direction: column;
    }

    .reasons-bg {
        padding-top: 40px;
    }

    .reasons-content {
        justify-content: center;
    }

    .pulse {
        height: 300px;
        width: 300px;
        left: -36%;
        top: 27px;
    }

    .reasons-decor-text {
        padding-bottom: 10px;
    }

    .view-all-category {
        position: relative;
        padding: 7px 34px 7px 7px;
        background-color: #ccc;
    }

    .products-siries-item {
        height: 229px;
    }
    .products-top-wrapper {
        padding: 19px 10px 12px;
    }

    .category-counter {
        margin-left: 6px;
    }

    .category-title {
        font-size: 18px;
    }

    .view-all-category {
        padding: 7px;
    }

    .view-all-category::before {
        display: none;
    }

    .view-all-category::after {
        display: none;
    }

    .view-all-category::after {
        position: absolute;
        content: '';
        border-bottom: 2px solid #c20018;
        width: 15px;
        height: 1px;
        right: 10px;
        top: 55%;
    }

    .text-item, .jobs-num {
        color: white;
        font-size: 17px;
        line-height: 20px;
    }

    .jobs-wrap-text {
        padding: 18px;
        display: flex;
        justify-content: space-between;
    }

    .jobs-link {
        width: 51px;
    }

    .popular-price {
        font-size: 15px;
        line-height: 14px;
    }

    .popular-category {
        font-size: 13px;
        line-height: 20px;
    }

    .popular-item {
        height: 290px;
    }

    .benefits {
        padding: 30px 0 30px;
    }

    .benefits-title {
        padding: 7px 0 40px;
    }

    .benefits__wrapper-item {
        height: 364px;
        margin-top: 40px;
    }

    .benefits-content {
        width: 40%;
    }

    .content-img1 {
        width: 60%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: left;
        background-image: url(../images/benefits/Фасадные-панели-Docke-Klinker-под-клинкерный-кирпич-цвета-Каракумы.png);
    }

    .content-img2 {
        width: 60%;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url(../images/benefits/Гибкая-черепица-Docke-PREMIUM-ШЕФФИЛД-Фладен-купить-мягкую-кровлю-Дёке.png);
    }

    .content-img3 {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        width: 60%;
        background-image: url(../images/benefits/Купить-водостоки-для-крыши-—-цены-на-пластиковые-водосточные-системы-«Дёке».png);
    }

    .content-img4 {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        width: 60%;
        background-image: url(../images/benefits/Pdf.png);
    }

    .review {
        padding: 20px 0 20px;
    }
    .jobs {
        padding: 20px 0 20px;
    }
}


@media (max-width: 420px) {
    .header-callback {
        font-size: 11px;
        padding: 3px 6px;
    }

    .logo {
        max-width: 80px;
    }

    .main {
        padding: 10px 0 10px;
    }

    .add-sale {
        font-size: 10px;
        font-weight: 500;
        margin-top: 12px;
        padding: 3px 5px;
    }

    .pulse {
        height: 250px;
        width: 250px;
        left: -23%;
        top: 37px;
    }

    .reasons-bg {
        padding-top: 60px;
    }

    .products-siries-id {
        text-align: center;
        font-weight: 700;
        font-size: 14px;
        padding: 10px 0 6px;
    }

    .jobs-inner {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
    }

    .jobs-link {
        margin-top: 50px;
        width: 51px;
    }

    .siries-num,
    .siries-text {
        font-size: 10px;
    }

    .category-title {
        font-size: 16px;
    }

    .products {
        padding: 20px 0 20px;
    }

    .view-all-category {
        padding: 5px;
        font-size: 12px;
    }

    .slick-dots > li {
        width: 6px;
        height: 6px;
        margin: 0 2px;
    }

    .products-top-wrapper {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: start;
        padding: 10px 10px 0;
    }

    .view-all-category {
        margin-top: 4px;
    }

    .benefits__wrapper-item {
        height: 288px;
    }

    .benefits-content {
        width: 50%;
    }

    .content-img1 {
        width: 50%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: left;
        background-image: url(../images/benefits/Фасадные-панели-Docke-Klinker-под-клинкерный-кирпич-цвета-Каракумы.png);
    }

    .content-img2 {
        width: 50%;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url(../images/benefits/Гибкая-черепица-Docke-PREMIUM-ШЕФФИЛД-Фладен-купить-мягкую-кровлю-Дёке.png);
    }

    .content-img3 {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        width: 50%;
        background-image: url(../images/benefits/Купить-водостоки-для-крыши-—-цены-на-пластиковые-водосточные-системы-«Дёке».png);
    }

    .content-img4 {
        background-position: center;
        width: 50%;
        background-image: url(../images/benefits/Pdf.png);
    }

}

@media (max-width: 320px) {
    .container {
        padding: 0 10px;
    }

    .logo {
        max-width: 66px;
    }

    .whatsapp-link::before {
        bottom: -9px;
        left: -49px;
    }

    .phone-link::after {
        bottom: -19px;
    }
}