figure, figcaption {
	display: block;
}

.transition {
    transition: top .4s ease-in-out;
}

.timeTo {
	font-family: "Manrope", sans-serif;
	font-size: 28px;
	line-height: 108%;
	font-weight: 400;
}

.timeTo span {
	vertical-align: top;
}


.timeTo figure {
	display: inline-block;
	margin: 0;
	padding: 0;
}
.timeTo figcaption {
	text-align: center;
	line-height: 80%;
	font-weight: normal;
	color: #888;
}

.timeTo div {
	position: relative;
	display: inline-block;
	width: 25px;
	height: 30px;
	overflow: hidden;
}

.timeTo ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: absolute;
	left: 3px;
}

.timeTo ul li {
    margin: 0;
    padding: 0;
    list-style: none;
}
